- Follow existing project conventions (code style, folder structure, naming, dependency management) unless explicitly instructed otherwise.
- Never do refactoring without my request
- Always use a block if-return statement
- Apply only the changes directly required for the current request.
- Keep changes minimal, explicit, and localized to the requested task.
- Ensure modifications are clear, readable, and consistent with the existing code style.

- Never perform next git commands themself: commit, reset, rebase, push, pull --force, checkout --force, clean, stash drop
- Always ask user confirmation before running git pull, git merge, or git stash

- All comments and documentation must be in English
- The answer must be in the same language as the question

- Always use the command 'supabase migration new' to create a new migration file for Supabase
